<h1>学生詳細情報</h1>
<table>
    <tr>
        <th>名前</th>
        <td><%= @student.name %></td>
    </tr>
    <tr>
        <th>年齢</th>
        <td><%= @student.age %></td>
    </tr>
</table>
<a href="/students/index">戻る</a>
