<h1><%= @head %></h1>
<form method="POST" action="/aisatsu/calc">
    <input type="text" name="input1" >
    <label> + </label>
    <input type="text" name="input2" >
    <input type="submit" value="計算" >
</form>